.tasks {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .task-box {
    width: 18rem;
    margin: 1rem 1rem 0 1rem;

    .title {
      display: flex;
      align-items: center;
      font-weight: 600;
      margin-bottom: 1rem;

      span {
        font-weight: 400;
        color: gray;
        margin-left: 0.5rem;
      }

      img {
        width: 20px;
        margin-right: 0.5rem;
      }
    }

    .task {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border: 1px solid lightgray;
      border-radius: 5px;
      margin-bottom: 0.5rem;

      .task-image {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          margin-right: 1rem;
        }

        .info-task {
          display: flex;
          flex-direction: column;

          .name {
            font-weight: 600;
          }

          input {
            margin-top: 0.5rem;
            width: 6rem;
            padding: 0.15rem 0.5rem;
            border-radius: 5px;
            border: 1px solid #d3d3d3;
          }

          .status {
            position: relative;
            display: flex;
            align-self: flex-start;
            margin-top: 0.5rem;
            font-size: 0.75rem;
            background-color: lightblue;
            color: #3493b3;
            border-radius: 10px;
            padding: 0.25rem 0.5rem 0.25rem 1.5rem;
          }

          .status::after {
            position: absolute;
            left: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
            content: "";
            background-color: #3493b3;
            width: 10px;
            height: 10px;
            border-radius: 50%;
          }

        }
      }

      .edit {
        display: none;
      }
    }

    .task:hover {
      .edit {
        align-self: flex-start;
        display: flex;
        width: fit-content;
        filter: drop-shadow(0 0 10px rgba(128, 128, 128, 0.05));

        button {
          background-color: #FAFAFA;
          border: 1px solid lightgray;
          border-radius: 2.5px;
          margin-right: 0.1rem;
          cursor: pointer;

          img {
            width: 10px;
          }
        }

        button:last-child {
          margin: 0;
        }

        button:focus {
          outline: 1px solid #5C5F62;
        }
      }
    }
   
  }
}