.app {
    position: absolute;
    display: flex;
    width: 100vw;
  
    .bar {
      width: 15%;
    }
  
    .show-container {
      width: 80%;
      height: 100%;
      min-height: 100vh;
  
      .header-show {
        height: 20%;
      }
    }
  
    .add-container {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100vw;
      height: 100vh;
    }
  
    .add-container.disabled {
      display: none;
    }
  }